{{ define "nav"}}
<nav>
    <div class="">
        <label for="search-element" class="sr-only">Email address</label>
        <input id="search-element" name="search" type="search" autocomplete="search" required
            class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-primary focus:border-primary focus:z-10 text-base"
            placeholder="Search category or menu" />
    </div>
</nav>
{{ end }}