{{define "title"}} Tables {{end}}
{{define "main"}}
<div class="container mx-auto px-6 py-8">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">Tables</h1>
        <a href="/tables/create"
            class="bg-primary text-white px-4 py-2 rounded-md hover:bg-secondary transition duration-300 ease-in-out">Create
            table</a>
    </div>


    <div class="grid grid-cols-1 sm:grid-cols-3 sm:row-span-3 gap-2">
        {{range .Tables}}
        <div
            class="transition-all duration-300 ease-in-out shadow-md w-full h-full p-4 bg-white flex items-center flex-col justify-center rounded-md hover:scale-[1.03]">
            <p class="text-center">Mesa <span>{{.Number}}</span></p>
            {{template "shape-table" .}}
            <p class="text-sm">Capacity: {{.Capacity}}</p>
            <p class="text-sm capitalize">{{.Status}}</p>
            <div class="mt-4">
                <a href="/tables/edit?id={{.ID}}" class="text-primary hover:text-secondary">Edit</a>
                <a href="/tables/delete?id={{.ID}}" class="text-red-500 hover:text-red-700 ml-4">Delete</a>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}